---
layout: default
title: Link Collection
---
<div class="container">
    <div class="link-grid">
        {% for game in site.data.links.games %}
        <div class="card{% if game.span == 2 %} card-span-2{% endif %}">
            <h1>{% if game.section != false %}<a href="#{{ game.id }}" class="card-title-link">{{ game.title }}</a>{% else %}{{ game.title }}{% endif %}</h1>
            <ol>
                {% for link in game.links %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
            </ol>
        </div>
        {% endfor %}
        <div class="card card-span-2">
            <h1>Other</h1>
            <ol>
                {% for link in site.data.links.other %}
                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="google-search-wrapper">
        <form class="google-search" action="https://www.google.com/search" method="get">
            <input type="text" name="q" placeholder="Search Google..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</div>

<footer class="site-footer">
    <a href="https://pastebin.com/FDgNusSc"><img src="assets/blume.gif" alt="logo" class="brand-img"></a>
</footer>

{% include sections/cs2.html %}
{% include sections/arc-raiders.html %}
