body {
    background-color: #1B1B1B;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 3em;
}

p {
    color: #F3F3F3;
}

ol {
    color: rgb(141, 104, 11);
    font-size: 1.5em;
}

/* links */
a {
    color: goldenrod;
    text-decoration: none;

}

a:hover {
    color: gold;
    text-decoration: none;
}

a:active {
    color: white;
}